body {
  margin: 0;
}

.container {
  display: flex;
}
main {
  padding: 0 1em;
}
table.striped-table {
  display: grid;
  border-collapse: collapse;
  grid-template-columns: repeat(var(--numCol), auto);
}

table.striped-table th {
  padding: 0.5 em;
  text-align: left;
  border-right: 1px solid #eee;
}

table.striped-table thead,
table.striped-table tbody,
table.striped-table tr {
  display: contents;
}

table.striped-table td {
  padding: 0.5em;
  border-right: 1px solid #eee;
}

table.striped-table tr:nth-child(odd) td {
  background-color: #eee;
  border-right: 1px solid #fff;
}

#delete-dialog {
  z-index: 1000;
}
